/* You can add global styles to this file, and also import other style files */

//@import url('https://utpl-rank.github.io/UI-Components/ui-components.css');

:root {
  --color-primary: #003f72;
  --color-secondary: #f4ab14;
  --color-gray: #f3f3f3;
  --color-accent: #f6c343;
  --color-white: white;
  --color-primary-dark: blue;
}
