
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
        <div style="background-color: cornflowerblue;" class="container"><a class="navbar-brand" href="#"><img src="assets/images/docente-integrador.png" alt="" width="30" /><span class="text-1000 fs-1 ms-2 fw-medium">Docente<span class="fw-bold">Integrador</span></span></a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse d-flex flex-row-reverse bd-highlight" id="navbarSupportedContent">
<!--            <ul class="navbar-nav mx-auto border-bottom border-lg-bottom-0 pt-2 pt-lg-0">-->
<!--              <li class="nav-item"><a style= "color: black;"class="nav-link active active" aria-current="page" href="#">Inicio</a></li>-->
<!--              <li class="nav-item"><a style= "color: black;" class="nav-link" href="#">Guias</a></li>-->
<!--              <li class="nav-item"><a style= "color: black;" class="nav-link" href="#">Reportar un problema </a></li>-->
<!--            </ul>-->
<!--            <form class="d-flex py-3 py-lg-0">-->
<!--              <button style="color: black;" class="btn btn-link text-1000 fw-medium order-1 order-lg-0" type="button">Iniciar Sesión</button>-->
              <a
                href="/login"
                style ="background-color: #f4ab14; border-color: gold;"
                class="bd-highlight btn btn-outline-danger rounded-pill order-0"
                type="button">
                Iniciar sesión
              </a>
<!--            </form>-->
          </div>
        </div>
      </nav>


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pb-6 mt-5">

        <div class="container">
          <div class="row flex-center">
            <div class="col-lg-6 col-md-5 order-md-1"><img class="img-fluid" src="assets/images/1.png" alt="" /></div>
            <div class="col-md-7 col-lg-6 mt-5 text-center text-md-start">
              <h1 class="fw-medium">Bienvenido al Proyecto Docente Integrador<br/></h1>
              <p class="mt-3 mb-4">
                La creación del rol del docente integrador tiene la finalidad de fomentar el trabajo en equipo e integrar
                la planificación que realizan los docentes de primer ciclo de la titulación con el objetivo de que todas
                las materias que se ofertan en este ciclo cuente con una planificación estructurada, organizada y que desarrollen
                las competencias requeridas.</p><br>
<!--              <a style ="background-color: #f4ab14; border-color: gold;" class="btn btn-lg btn-danger hover-top btn-glow" href="/dashboard">Ver Proyecto </a>-->
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-4">

        <div class="container">
          <div style="background-color:cornflowerblue;color: white;" class="card py-5 border-0 shadow-sm">
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <div class="border-end d-flex justify-content-md-center">
                    <div class="mx-2 mx-md-0 me-md-5">
                      <div class="badge badge-circle bg-soft-danger">
                        <svg class="bi bi-person-fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#F53838" viewBox="0 0 16 16">
                          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                        </svg>
                      </div>
                    </div>
                    <div>
                      <p class="mb-0">25 Docentes </p>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="border-end d-flex justify-content-md-center">
                    <div class="mx-2 mx-md-0 me-md-5">
                      <div class="badge badge-circle bg-soft-danger">
                        <svg class="bi bi-geo-alt-fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#F53838" viewBox="0 0 16 16">
                          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path>
                        </svg>
                      </div>
                    </div>
                    <div>
                      <p class="mb-0">25 Carreras </p>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="d-flex justify-content-md-center">
                    <div class="mx-2 mx-md-0 me-md-5">
                      <div class="badge badge-circle bg-soft-danger">
                        <svg class="bi bi-hdd-stack-fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#F53838" viewBox="0 0 16 16">
                          <path d="M2 9a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1a2 2 0 0 0-2-2H2zm.5 3a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm2 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zM2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm.5 3a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm2 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1z"></path>
                        </svg>
                      </div>
                    </div>
                    <div>
                      <p class="mb-0">2 Modalidades</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pt-4 pt-md-6">

        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-5 col-lg-7 text-lg-center"><img class="img-fluid mb-5 mb-md-0" src="assets/images/2.png" alt="" /></div>
            <div class="col-md-7 col-lg-5 text-center text-md-start">
              <h2>¿Qué mas nos Ofrece Docente Integrador?</h2>
              <p>A continuacion se presentan otras caracteristicas de suma importancia dentro del proyecto Docente Integrador</p>
              <div class="d-flex">
                <svg class="bi bi-check-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2FAB73" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                </svg>
                <p class="ms-2">Duración</p>
              </div>
              <div class="d-flex">
                <svg class="bi bi-check-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2FAB73" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                </svg>
                <p class="ms-2">Nombramiento</p>
              </div>
              <div class="d-flex">
                <svg class="bi bi-check-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2FAB73" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                </svg>
                <p class="ms-2">Reconocimiento</p>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-100 py-7">

        <div class="container-lg">
          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-5 text-center mb-3">
              <h2>Docente Integrador</h2>
              <p>Una descripcion de lo que es Docente Integrador</p>
            </div>
          </div>
          <div class="row h-100 justify-content-center">
            <div class="col-md-4 pt-4 px-md-2 px-lg-3">
              <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-around mx-auto">
                  <div class="text-center pt-5">
                    <h5 class="my-4">Duración</h5>
                    <img class="card-img-top"src="https://www.contidosdixitais.com/wp-content/uploads/2016/02/duracion_curso_online.png" alt="">
                  </div>
                  <ul class="list-unstyled">
                    <li class="mb-3"><span class="me-2">
                        <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#2FAB73" viewBox="0 0 16 16">
                          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
                        </svg></span>El docente integrador desempeñará este rol durante todo el ciclo, para lo cual deberá ser profesor de una o varias asignaturas de primero ciclo.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 pt-4 px-md-2 px-lg-3">
              <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-around mx-auto">
                  <div class="text-center pt-5"><img class="img-fluid" src="assets/img/icons/pricing.png" alt="" />
                    <h5 class="my-4">Nombramiento</h5>
                    <img class="card-img-top"src="https://dplfblog.files.wordpress.com/2017/05/thinkstockphotos-648680010.jpg?w=664" alt="">
                  </div>
                  <ul class="list-unstyled">
                    <li class="mb-3"><span class="me-2">
                        <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#2FAB73" viewBox="0 0 16 16">
                          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
                        </svg></span>El Docente Integrador de primer ciclo lo nombrará el Coordinador de la Titulación.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 pt-4 px-md-2 px-lg-3">
              <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-around mx-auto">
                  <div class="text-center pt-5"><img class="img-fluid" src="assets/img/icons/pricing.png" alt="" />
                    <h5 class="my-4">Reconocimiento</h5>
                    <img class="card-img-top" src="https://www.lancetalent.com/blog/wp-content/uploads/reconocimiento-de-marca.png" alt="">
                  </div>
                  <ul class="list-unstyled">
                    <li class="mb-3"><span class="me-2">
                        <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#2FAB73" viewBox="0 0 16 16">
                          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
                        </svg></span>La participación será reconocida como una buena práctica de innovación en la línea de gestión curricular y tendrá un reconocimiento en el proceso de evaluación integral.
                    </li>
<!--                    <li class="mb-3"><span class="me-2">-->
<!--                        <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#2FAB73" viewBox="0 0 16 16">-->
<!--                          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>-->
<!--                        </svg></span>Bryan Israel Gómez: Proyecto Mentores-->
<!--                    </li>-->
<!--                    <li class="mb-3"><span class="me-2">-->
<!--                        <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#2FAB73" viewBox="0 0 16 16">-->
<!--                          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>-->
<!--                        </svg></span>Elvita Esparza: Gestión Curricular-->
<!--                    </li>-->
<!--                    <li class="mb-3"><span class="me-2">-->
<!--                        <svg class="bi bi-check" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#2FAB73" viewBox="0 0 16 16">-->
<!--                          <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>-->
<!--                        </svg></span>Nuve Briceño: Gestión Docente-->
<!--                    </li>-->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section><br>
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <!-- <section> close ============================-->
      <!-- ============================================-->

<!--      <section class="bg-200 pt-9 pb-0">-->
<!---->
<!--        <div class="container">-->
<!--          <div style="background-color: #f4ab14;" class="row">-->
<!--            <div class="col-12 col-lg-4 mb-3"><a href="#"><img class="d-inline-block align-middle" src="assets/img/icons/logo.png" alt="" width="30" /><span style="color: black;" class="d-inline-block text-1000 fs-1 ms-2 fw-medium lh-base">Docente Integrador</span></a>-->
<!--            </div>-->
<!--            <div class="col-6 col-sm-4 col-lg-3 mb-3">-->
<!--              <h5 class="lh-lg">Redes Sociales</h5>-->
<!--              <ul class="list-unstyled mb-md-4 mb-lg-0">-->
<!--                <li class="lh-lg"><a class="text-900 text-decoration-none" href="#!">Facebook</a></li>-->
<!--                <li class="lh-lg"><a class="text-900 text-decoration-none" href="#!">Instagram</a></li>-->
<!--                <li class="lh-lg"><a class="text-900 text-decoration-none" href="#!">Linkedin</a></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="col-6 col-sm-4 col-lg-3 mb-3">-->
<!--              <h5 class="lh-lg">Proyecto Docente Integrador</h5>-->
<!--              <ul class="list-unstyled mb-md-4 mb-lg-0">-->
<!--                <li class="lh-lg"><a class="text-900 text-decoration-none" href="#!">Vicerrectorado Academico</a></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <hr class="opacity-25" />-->
<!--          </div>-->
<!--        </div>-->
        <!-- end of .container-->

<!--      </section>-->
      <!-- <section> close ============================-->
      <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->



