  <div class="container pt-3 pb-3">
    <h1 style="text-align: center;">Documentos Importantes</h1>
    <img src="https://colegiovanguardia.files.wordpress.com/2016/07/img_4209.png" alt="25%" width="25%" style="margin:auto;
  display:block;"/><br>
     <br><br><br>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div id="exampleModal" class="modal">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Hoja de Ruta</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
<!--                        <p>Aqui se encuentra el documento de Hoja de Ruta</p>-->
                        <!--ngx-doc-viewer [url]="https://docs.google.com/spreadsheets/d/1hH2ci6xCgHEiCJasorDYpUr5Xlb3NN8F/edit?usp=sharing&ouid=100949079143530886664&rtpof=true&sd=true" viewer="google" class="absolute inset-0"></ngx-doc-viewer-->
                        <ngx-doc-viewer [url]="url" viewer="url" style="width:100%;height:90%;"></ngx-doc-viewer>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Hoja de Ruta</h5>
                    <p class="card-text">Programa detallado para la consecución de los objetivos del Proyecto Docente Integrador.</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Ver Hoja de Ruta </button>
                </div>
            </div>
        </div>




        <div id="exampleModal2" class="modal">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Formato de Planificación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
<!--                        <p>Aqui se encuentra el documento de Formato de Planificación</p>-->
                        <!--ngx-doc-viewer [url]="https://docs.google.com/spreadsheets/d/1hH2ci6xCgHEiCJasorDYpUr5Xlb3NN8F/edit?usp=sharing&ouid=100949079143530886664&rtpof=true&sd=true" viewer="google" class="absolute inset-0"></ngx-doc-viewer-->
                        <ngx-doc-viewer [url]="url2" viewer="url" style="width:100%;height:90%;"></ngx-doc-viewer>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Formato de Planificación</h5>
                    <p class="card-text">El documento muestra el formato de que el docente debe utilizar para elaborar su planificación. </p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal2">Ver Documento </button>
                </div>
            </div>
        </div>



        <div id="exampleModal3" class="modal">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Proyecto Docente Integrador</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
<!--                        <p>Aqui se encuentra el documento del Proyecto Docente Integrador</p>-->
                        <!--ngx-doc-viewer [url]="https://docs.google.com/spreadsheets/d/1hH2ci6xCgHEiCJasorDYpUr5Xlb3NN8F/edit?usp=sharing&ouid=100949079143530886664&rtpof=true&sd=true" viewer="google" class="absolute inset-0"></ngx-doc-viewer-->
                        <ngx-doc-viewer [url]="url3" viewer="url" style="width:100%;height:90%;"></ngx-doc-viewer>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Proyecto Docente Integrador</h5>
                    <p class="card-text">Documento que expone los detalles del Proyecto Docente Integrador</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal3">Ver Proyecto </button>
                </div>
            </div>
        </div>



<!--        <div id="exampleModal4" class="modal">-->
<!--            <div class="modal-dialog modal-fullscreen">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title">Encuesta</h5>-->
<!--                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--&lt;!&ndash;                        <p>Aqui se encuentra la Encuesta</p>&ndash;&gt;-->
<!--                        &lt;!&ndash;ngx-doc-viewer [url]="https://docs.google.com/spreadsheets/d/1hH2ci6xCgHEiCJasorDYpUr5Xlb3NN8F/edit?usp=sharing&ouid=100949079143530886664&rtpof=true&sd=true" viewer="google" class="absolute inset-0"></ngx-doc-viewer&ndash;&gt;-->
<!--                        <ngx-doc-viewer [url]="url" viewer="url" style="width:100%;height:90%;"></ngx-doc-viewer>-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--            <div class="card">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Encuesta</h5>-->
<!--                    <p class="card-text">Encuesta que se aplica al finalizar el curso del proyecto para evaluar los resultados obtenidos.</p>-->
<!--                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"-->
<!--                        data-bs-target="#exampleModal4">Ver Encuesta </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(window).on('load', function () {
            $('#exampleModal').modal('show');
        });
    </script>
</div>
