<ng-container>
    <nav class="sidebar">
      <ng-container *ngIf="claims">
        <a
          class="sidebar--item"
          [routerLink]="['/dashboard', 'home']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          title="Inicio"
        >
          <div class="item--icon">
            <i-feather class="fas" name="home"></i-feather>
          </div>
<!--          <span class="item&#45;&#45;text"> Inicio </span>-->
        </a>
      </ng-container>

      <!-- docs -->
      <ng-container *ngIf="claims">
        <a
          class="sidebar--item"
          data-tooltip="Documentos importantes"
          [routerLink]="['/dashboard', 'documents']"
          routerLinkActive="active"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          title="Documentos importantes"
        >
          <div class="item--icon">
            <i-feather class="fas" name="file-text"></i-feather>
          </div>
        </a>
      </ng-container>

      <!-- planning -->
      <ng-container *ngIf="claims && claims.isTeacher">
        <a
          class="sidebar--item"
          data-tooltip="Planificación"
          [routerLink]="['/dashboard', 'planning', claims.integrativeTeacherId]"
          routerLinkActive="active"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          title="Planificación"
        >
          <div class="item--icon">
            <i-feather class="fas" name="layout"></i-feather>
          </div>
<!--          <span class="item&#45;&#45;text"> Planificación </span>-->
        </a>
      </ng-container>

      <!-- activities -->
      <ng-container *ngIf="claims && claims.isTeacher">
        <a
          class="sidebar--item"
          data-tooltip="Actividades"
          [routerLink]="['/dashboard', 'activities', claims.integrativeTeacherId]"
          routerLinkActive="active"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          title="Actividades"
        >
          <div class="item--icon">
            <i-feather class="fas" name="activity"></i-feather>
          </div>
<!--          <span class="item&#45;&#45;text"> Actividades </span>-->
        </a>
      </ng-container>

      <!-- teachers -->
      <ng-container *ngIf="claims && claims.isAdmin">
        <a
          class="sidebar--item"
          data-tooltip="Docentes integradores"
          [routerLink]="['/dashboard', 'teachers']"
          routerLinkActive="active"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          title="Docentes integradores"
        >
          <div class="item--icon">
            <i-feather class="fas" name="users"></i-feather>
          </div>
        </a>
      </ng-container>

      <!-- analytics -->
      <ng-container *ngIf="claims && claims.isAdmin">
        <a
          class="sidebar--item"
          data-tooltip="Analíticas"
          [routerLink]="['/dashboard', 'analytics']"
          routerLinkActive="active"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          title="Analíticas"
        >
          <div class="item--icon">
            <i-feather class="fas" name="pie-chart"></i-feather>
          </div>
<!--          <span class="item&#45;&#45;text"> Analíticas </span>-->
        </a>
      </ng-container>

      <!-- upload -->
      <ng-container *ngIf="claims && claims.isAdmin">
        <a
          class="sidebar--item"
          data-tooltip="Subir información"
          [routerLink]="['/dashboard', 'upload']"
          routerLinkActive="active"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          title="Subir información"
        >
          <div class="item--icon">
            <i-feather class="fas" name="upload"></i-feather>
          </div>
<!--          <span class="item&#45;&#45;text"> Subir información </span>-->
        </a>
      </ng-container>

    </nav>
</ng-container>
