<nav class="navbar navbar-light" style="background-color: #f4ab14">
  <div class="container-fluid">
    <a class="navbar-brand" href="/dashboard/home">
      <img src="/assets/images/docente-integrador.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Docente Integrador
      <span class="badge"> {{ academicPeriod?.name }} </span>
    </a>

    <a class="btn align-content-end" (click)="signOut()">
      Cerrar sesión <i-feather class="fas" name="log-out"></i-feather>
    </a>
  </div>
</nav>
