<div class="container">
  <h2 style="text-align: center;">Bienvenidos al Sitema de Gestión del Proyecto Docente Integrador</h2>
  <img src="assets/images/3.png" alt="50%" width="50%" style="margin:auto;
  display:block;"/><br>
  <div class="card">
    <h3 class="card-body">
      OBJETIVO
    </h3>
    <p class="text-gray-600 mb-8">
      La creación del rol del docente integrador tiene la finalidad de fomentar el trabajo en equipo e integrar la planificación 
      que realizan los docentes de primer ciclo de la titulación con el objetivo de que todas las materias 
      que se ofertan en este ciclo cuenten con una planificación estructurada, organizada y 
      que desarrollen las competencias requeridas.
    </p>
  </div><br>
  <div class="card">
    <h3 class="card-body">
      PERFIL DEL DOCENTE INTEGRADOR
    </h3>
    <p class="text-gray-600 mb-8">
      •	Liderazgo <br> 
      •	Resolución de conflictos <br> 
      •	Trabajo en equipo <br> 
      •	Empatía con los estudiantes
      <br />
      <br />
    </p>
  </div><br>
  <div class="card">
    <div class="card-body">
      <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
        FUNCIONES
      </h3>
      <p class="text-gray-600 mb-8">
        •	Conformar un grupo de trabajo con todos los docentes de primer ciclo y fomentar el trabajo interdisciplinar y en equipo. <br>
        •	Velar por la permanencia de los estudiantes de primer ciclo en la titulación y en la universidad, dando seguimiento a los indicadores de retención inicial y satisfacción por el aprendizaje. Este trabajo deberá ser coordinado con el equipo de calidad.<br>
        •	Trabajar de manera coordinada con los estudiantes mentores de alumnos nuevos, con la finalidad de solventar las dificultades detectadas en los estudiantes <br>
        <br />
        <br />
      </p>
    </div>
  </div>
</div>
